<header>
    <div class="navBox">
        <div class="navBtnUMUC"><a href='{{site.url}}{{site.baseurl}}' title='Back to UMUC courses that I teach'></a></div>
        <div class="courseID">{{page.title}} • {{page.subtitle}}</div>
        <br>
        <ul>
          <li class='top'><a href='#Top' title='Scroll to TOP'>&#8679; Top</a></li>
          {% for nI in (1..8) %}
          <li><a href='#Week{{nI}}' title='Scroll to Week {{nI}}'>Week&nbsp;{{nI}}</a></li>
          {% endfor %} 
        </ul>
    </div>
  </header>