<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} • {{ page.subtitle }}</title>
  <meta name='author' content='{{ site.author }}' >
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/assets/umuc_courses.css'>
</head>
<body>
<main>
{{ content }}
</main>
{% include footer-course.html %}
</body>
</html>