<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} • {{ page.subtitle }}</title>
  <meta name='author' content='{{ site.author }}' >
  <link rel='stylesheet' href='{{site.baseurl}}/assets/pygments/vs.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/assets/umuc_courses.css'>
	<script type='text/javascript' src='{{site.baseurl}}/assets/AntiSpam.js'></script>
	<meta name="keywords" content="UMUC, UMGC, umuc, umgc, maryland global campus, math103, cmis102, cmis141, cmst385"/>
</head>
<body>
{% include header-course.html %}
<main>
{{ content }}
</main>

{% include footer-course.html %}

</body>
</html>
